.game-board {
    background: #cf993a;
    align-items: center;
    height: 90%;
    aspect-ratio: 1/1;
}

.row {
    display: flex;
    height: calc(100%/19);
    width: 100%;
}

.stone {
    height: 100%;
    width: calc(100%/19);
    border-radius: 50%;
    display: flex;
    position: relative;
    font-size: 30px;
}

.box {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0);
    user-select: none;
    font-size: 8px;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #000000;
    color: #ffffff;
}