.game-board {
    align-items: center;
    height: 90%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    background-image: url(../public/goban.png);
    background-size: 100% 100%;
    position: relative;
    z-index: 0;
}

.game-board.turn-black .stone.empty:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.game-board.turn-white .stone.empty:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.row {
    display: flex;
    /*height: calc(100%/19);*/
    height: 100%;
    width: 100%;
}

.stone {
    flex-grow: 1;
    height: 100%;
    /*width: calc(100%/19);*/
    width: 100%;
    border-radius: 50%;
    position: relative;
}

.stone.last-move {
    animation: stone-blink 0.5s ease-in-out 3;
}

@keyframes stone-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.stone.win-move::before {
    animation: win-blink 0.8s ease-in-out infinite;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    z-index: -1;
}

@keyframes win-blink {
    0% {}

    50% {
        box-shadow: 0 0 12px 8px rgb(245, 144, 240);
    }

    100% {}
}

.box {
    height: 100%;
    width: 100%;
    position: absolute;
    user-select: none;
    font-size: 8px;
}

.white {
    background-color: #fafafa;
}

.black {
    background-color: #0a0a0b;
    color: #fafafa;
}
.stone.cross-move::before {
    animation: cross-glow 0.5s ease-in-out 3;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    z-index: -1;
}

@keyframes cross-glow {
    0% {}

    50% {
        box-shadow: 0 0 12px 8px rgb(63, 185, 80);
    }

    100% {}
}
