.game-info {
    height: 90%;
    width: 200px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.move-info {
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.status {
    width: 100%;
}