.game-info {
    height: 90%;
    width: 200px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.select-game-mode {
    display: flex;
    flex-direction: column;
}

.search-info {
    font-size: small;
    position: absolute;
    background-color: rgba(186, 217, 248, 0.85);
    padding: 2.5px;
    border-radius: 2px;
}

.status {
    margin-top: 20px;
    width: 100%;
}

.move-info {
    display: flex;
    flex-direction: column;
    overflow: auto;
}