.play-ground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    height: 92%;
    width: 100%;
}

.board-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.turn-display {
    font-size: 16px;
    height: 24px;
}

.goishi-box-image-com {
    margin-top: 24px;
}

@media screen and (max-aspect-ratio: 1.1998/1) {
    .play-ground {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0;
        height: 130%;
        width: 100%;
    }

    html,
    body {
        height: 130%;
    }

    .game-board {
        height: 50%;
        width: 100%;
        aspect-ratio: 1/1;
    }

    .game-info {
        height: 100%;
    }
}